<div class="container" style="margin-top: 50px">
<div class="jumbotron">    
    <form action="/home/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="pic" accept="image/*">
        <input type="submit">
    </form>
</div>
</div>